.footer{
  padding-top: 20px;
  background-color: #1B262F;
}


.footer__inner{
  display: flex;
  align-items: center;
  
}

.logo__img{
  display: block;
  margin-right: 64px;
}

.footer__item-link {
  text-decoration: none;
  color: #FBFCFE;
  opacity: 0.5;
}




