.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: flex;
  margin-right: 40px;
}

.nav__item-link {
  font-family: "Public Sans";
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #36536B;
}