.simple__inner {
  width: 445px;
}
.simple__wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
}

.simple__title {
  font-family: 'DM Serif Display';
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-top: 150px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #36536B;
}

.simple__title-lorem {
  margin: 0;
  padding: 0;
  color: #6C8294;

}

.simple__span{
  content: "";
  position: absolute;
  top: 48px;
  right: -50%;
  width: 780px;
  height: 780px;
  background-image: url('../../img/header-bac-img.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

// @media only screen and (max-width: 501px)