.work{
  background-color: #1B262F;
}


.work__section {
  display: flex;
  align-items: center;
  
}

.work__inner {
  margin-top: 100px;
  margin-bottom: 100px;
}

.work__title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -0.369231px;
  line-height: 56px;
  color: #FBFCFE;
}

.work__title-lorem {
  width: 445px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  color: #ffffff;
  opacity: 0.7;
}

.work__link {
  background-color: transparent;
  border: 1px solid #FBFCFE;
  border-radius: 24px;
  padding: 15px 32px;
  text-decoration: none;
  font-weight: 700;
  color: #FBFCFE;

}

.work__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 135px;
  
}
.work__item  {
  margin-left: 62px;
  margin-bottom: 53px;
}

@media only screen and (max-width: 872px) {
.work__section {
  flex-direction:column-reverse ;
  text-align: center;
}

.work__list{
  margin-right: 30px;
}
.work__item{
  margin-left: 75px;
  margin-bottom: 42px;
}
}

@media only screen and (max-width: 699px) {
  .work__item{
    margin-left: 24px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 450px) {
  .work__title{
    font-size: 32px;
  }
  .work__title-lorem {
    width: 100%;
  }
  .work__list{
    text-align: center;
    justify-content: center;
  }
}